<h1>views: <%= views %></h1>
<ul>
  <% lists.forEach(list => { %>
  <li>
    <a href="/list/<%= list.listId %>"><%= list.name %></a>
    <form style="display: inline" action="/del-list" method="post">
      <input type="hidden" name="listId" value="<%= list.listId %>">
      <input type="submit" value="x" style="color: red; border: hidden; background-color: white;">
    </form>
  </li>
  <% }) %>
  <li>
    <form action="/add-list" method="post">
      <input name="name" placeholder="list name" required>
      <input type="submit" value="Add new list">
    </form>
  </li>
</ul>
