<h2><%= name %></h2>
<% todos.forEach((item) => { %>
<label>
    <form action="/check-todo" method="post" style="display: inline">
        <input type="hidden" name="todoId" value="<%= item.todoId %>">
        <input
          type="checkbox"
          onchange="this.form.submit()"
          name="done"
          value="1"
        <%= item.done ? 'checked' : '' %>
        >
    </form>
    <%= item.text %>
</label>
<br>
<% })%>
<form action="/add-todo" method="post">
    <input type="hidden" name="listId" value="<%= listId %>">
    <input name="text" placeholder="drink coffee">
    <input type="submit" value="Add new todo">
</form>
